body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 980px;
}

.gallery-item {
  width: calc((100% - 20px) / 3);
}

.gallery-image {
  width: 320px;
}
