.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  max-width: 300px;
}

.links-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
